.TodoInsert {
  display: flex;
  background: #495057;
  border-radius: 0px 0px 20px 20px;
  animation: fadeInUp 1s;
}
.TodoInsert input {
  background: none;
  outline: none;
  border: none;
  padding: 0.5rem;
  padding-left: 20px;
  font-size: 1.125rem;
  line-height: 1.5;
  color: white;
  flex: 1;
}

.TodoInsert input::placeholder {
  color: #dee2e6;
}

.TodoInsert button {
  background: none;
  outline: none;
  border: none;
  background: #868e96;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.1s background ease-in;
  border-radius: 0px 0px 20px 0px;
}

.TodoInsert button:hover {
  background: #adb5bd;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
    opacity: 3;
      transform: none;
  }
}